.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 10px 10px 10px;
}

.row:first-child {
    padding-top: 10px;
}

.grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}
